/*  your css code here. If applicable */
#line{
  
    position: absolute;
    height: 2px;
    width: 200px;
    background-color: black;
    position: absolute;
    top: 50%;
    left: 50%;
    animation: spin 5s linear 20ms 1;
    transform: rotate(-225deg);
    transition: all 5s ease-in;
    /* transition: all 1s ease 20ms; */
}

@keyframes spin{
    to{
        transform: rotate(315deg);
    }
}

.line-box{
    height: 70vh;
   
}